body {
    font-family: "Inter";
    padding: 1% 2%;
}

p {
    font-size: 15px;
    line-height: 1.7rem;
    font-weight: 400;
    color:hsl(233, 8%, 79%);
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    color:hsl(240, 100%, 5%);
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(36, 100%, 99%);
}

h3:hover {
    color: hsl(35, 77%, 62%) ;
}


h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(240, 100%, 5%);
}

h4:hover {
    color: hsl(5, 85%, 63%);
}

.navbar-brand {
    font-size: 3.5rem;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

.ms {
    margin-left: 60%;
}

.nav-item {
    padding: 0 5% 0 0;
}

.nav-link:hover {
    color:hsl(5, 85%, 63%);
}



.col-lg-6 {
    padding: 2% 6% 4% 1.5%;
    text-align: left;
}


.btn {
    border: 0;
    border-radius: 0;
    letter-spacing: 3px;
    font-family: "Inter";
    color: #ffffff;
    font-size: 15px;
    background: hsl(5, 85%, 63%);
    padding: 10px 30px 10px 30px;
    margin-top: 40px;
  }
  
.btn:hover {
    background: #000019;
}

.rightSection {
    background-color: hsl(240, 100%, 5%);
    padding: 2%;
    margin: 0 0 5% 1.5%;
}
  
.righttab{
    padding: 7% 0 ;
}

.lastSection {
    margin: 0;
    display: grid;
    grid-template-columns:1fr;
    gap: 12px;
    grid-template-rows: 1fr;
}

.one {
    grid-column: 1;
}

.two {
    grid-column: 2;
}

.three {
    grid-column: 3;
}

.four {
    grid-column: 4;
}

.five {
    grid-column: 5;
}

.six {
    grid-column: 6;
}

.numbers {
    color: hsl(236, 13%, 42%);
    padding-bottom: 5%;
}

.h {
    padding-bottom: 5% ;
}

.image {
    width: 150px;
    height: 180px;
}

.attribution {
    padding: 5% 30%;
}

@media (max-width:600px) {
    body {
        padding: 0 5% ;
    }

    .firstSection{
        padding-bottom: 5%;
    }

    .lastSection {
        margin: 0;
        display: grid;
        grid-template-columns:(30%, 70%) ;
        gap: 15px;
        grid-template-rows: 3fr;
        padding-top: 5%;
    }
    .one {
        grid-column: 1;
        grid-row: 1;
    }
    
    .two {
        grid-column: 2;
        grid-row: 1;
    }
    
    .three {
        grid-column: 1;
        grid-row: 2;
    }
    
    .four {
        grid-column: 2;
        grid-row: 2;
    }
    
    .five {
        grid-column: 1;
        grid-row: 3;
    }
    
    .six {
        grid-column: 2;
        grid-row: 3;
    }
    
    .attribution {
        padding: 10% 20%;
        text-align: center;
    }
}